
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

}

<h2>Index</h2>

@section ustMenu{
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6">
            @using (Html.BeginForm("IndexKullaniciOnay", "Home", FormMethod.Post))
            {
                @Html.DropDownList("Onay", new List<SelectListItem>()
                {
                    new SelectListItem() { Text = "Onaylı", Value = "true" },
                    new SelectListItem() { Text = "Onaysız", Value = "false" }
                }, "Onay Durumu..", new { @class = "form-control" })
                <input type="submit" name="name" value="Seçimi bitir" class="btn btn-primary" />
            }
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("IndexKullaniciRol", "Home", FormMethod.Post))
            {
                @Html.DropDownList("Rol", new List<SelectListItem>()
                {
                    new SelectListItem() { Text = "Admin", Value = "3" },
                    new SelectListItem() { Text = "Kurumsal", Value = "2" },
                    new SelectListItem() { Text = "Bireysel", Value = "1" }
                }, "Rol Bilgisi..", new { @class = "form-control" })
                <input type="submit" name="name" value="Seçimi bitir" class="btn btn-primary" />
            }
        </div>
    </div>


    @using (Html.BeginForm("IndexKullaniciEkle", "Home", FormMethod.Post))
    {
        <div class="row" style="margin-top: 20px;">
            <div class="col-6">
                <input type="submit" name="name" value="Kulanıcı Ekle" class="btn btn-primary btn-lg btn-block" />
            </div>

        </div>



    }
    @using (Html.BeginForm("IndexKurumsalKullaniciEkle", "Home", FormMethod.Post))
    {
        <div class="row" style="margin-top: 20px;">
            <div class="col-6">
                <input type="submit" name="name" value="Kurumsal Kulanıcı Ekle" class="btn btn-primary btn-lg btn-block" />
            </div>

        </div>
    }
    <h1 class="mt-4">Kullanıcılar</h1>


    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Kullanıcılar
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>AdıveSoyadı</th>
                        <th>Mail</th>
                        <th>rol</th>
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
                <tbody>




                    @foreach (IkinciEl.UI.Models.VM.KullaniciVM item in ViewBag.KullaniciList)
                    {
                        <tr>
                            <td>@item.AdveSoyad</td>
                            <td>@item.Mail</td>
                            <td>@item.YetkiAdi</td>
                            <td>
                                <form method="post" action="@Url.Action("IndexKullaniciDuzenle", "Home")">
                                    <input type="hidden" name="kullaniciID" value="@item.KullaniciID" />
                                    <button type="submit" class="btn btn-primary">Düzenle</button>
                                </form>
                            </td>
                            <td>
                                <form method="post" action="@Url.Action("KullaniciSil", "Home")">
                                    <input type="hidden" name="kullaniciID" value="@item.KullaniciID" />
                                    <button type="submit" class="btn btn-danger">Kullanıcı Sil</button>
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

@section altMenu{

    @*<div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div>*@


}